# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WorkProjects\Group2Section22\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
